.container {
  margin: 2rem;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

label,
input {
  margin-right: 1rem;
}

input[type="number"] {
  width: 3rem;
}

li span {
  float: left;
  width: 10rem;
}
